* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    .subtitle {
        text-align: center;
    }
    
    body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;

    }
    .profile-2x2 {
		width: 200px; 
		height: 200px;
		object-fit: cover; 
		margin: 0 auto 20px auto;
		border: 3px solid #505050;
		border-radius: 50px;
		}

    .container {
        max-width: 800px;
        margin: 0 auto;
    }
    .card {
        background: #222;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(167, 17, 104, 0.1);
        }
    h1 {
        text-align: center;
        margin-bottom: 10px;
        }
    h2 {
        margin-bottom: 10px;
        margin-top: 20px;
        }
    p {
        margin-bottom: 10px;
        }
    ul {
        margin-left: 20px;
        margin-bottom: 10px;
        }
                
    a {
        text-decoration: none;
        color: white;
        }
    a:hover {
        color: #005fa3;
        }
    Table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        }
    th, td {
        border: 1px solid #cc0033;
        padding: 8px;
        }
    th {
        background-color: #cc0033;
        color: white;
        }
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        }
    input, textarea {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            }
            button {
            padding: 10px;
            background-color: #222;
            color: white;
            border: none;
            cursor: pointer;
            }
            button:hover {
            background-color: #cc0055;
            }
    .footer {
        text-align: center;
        margin-top: 30px;
        }
        .dark-mode {
            background-color: #222;
            color: white;
        
        }

    .dark-mode .card {
            background-color: #1e1e1e;
        }

    .dark-mode a {
            color: #4da6ff;
        }

       
    .hidden {
            display: none;
        }
    
                    
            
       