* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    .subtitle {
        text-align: center;
    }
    
    body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fb;
    color: #333;
    padding: 20px;
}
    .profile-2x2 {
		width: 200px; 
		height: 200px;
		object-fit: cover; 
		margin: 0 auto 20px auto;
		border: 3px solid #505050;
		border-radius: 50px;
		}

    .container {
        max-width: 800px;
        margin: 0 auto;
    }
    .card {
    background: #ffe6f0;
    border: 1px solid #e3e6ea;
    border-left: 5px solid #cc0055; /* accent strip */
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}
.card:hover {
    transform: translateY(-3px);
}
    h1 {
        text-align: center;
        margin-bottom: 10px;
        }
    h2 {
        margin-bottom: 10px;
        margin-top: 20px;
        }
    p {
        margin-bottom: 10px;
        }
    ul {
        margin-left: 20px;
        margin-bottom: 10px;
        }
                
    a {
        text-decoration: none;
        color:  #cc0033;
        }
    a:hover {
        color: #005fa3;
        }
    Table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        }
    th, td {
        border: 1px solid #cc0033;
        padding: 8px;
        }
    th {
        background-color:#cc0055;
        color: white;
        }
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        }
    input, textarea {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            }
            button {
            padding: 10px;
            background-color: #cc0055;
            color: white;
            border: none;
            cursor: pointer;
            }
            button:hover {
            background-color: #cc0055;
            }
    .footer {
        text-align: center;
        margin-top: 30px;
        }
    .dark-mode {
            background-color: #222;
            color: white;
        
        }

    .dark-mode .card {
            background-color: #1e1e1e;
        }

        body.dark-mode h1,
        body.dark-mode h2,
        body.dark-mode p,
        body.dark-mode li,
        body.dark-mode td,
        body.dark-mode th {
        color: #ffffff;
            }

    .dark-mode a {
            color: #4da6ff;
        }
    body.dark-mode #themeToggle {
    background-color: #cc0055;   
    color: white;             
    border: 1px solid #cccccc;
}
    body.dark-mode button:hover {
    background-color: #cc0055;
        }
       
    .hidden {
            display: none;
        }
    
                    
            
       